<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.noiseandheat.ios.xcodetemplates.sparrowFramework</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Sparrow/Sparrow.xcodeproj</key>
		<dict>
			<key>Group</key>
			<string>Sparrow</string>
			<key>Path</key>
			<string>Sparrow.xcodeproj</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>TargetIndices</key>
			<array />
		</dict>
		<key>Sparrow/README.txt</key>
		<dict>
			<key>Group</key>
			<string>Sparrow</string>
			<key>Path</key>
			<string>README.txt</string>
			<key>TargetIndices</key>
			<array />
		</dict>
		<key>*:*:importSparrow</key>
		<string>#import "Sparrow.h"
</string>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Sparrow/Sparrow.xcodeproj</string>
		<string>Sparrow/README.txt</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importSparrow</string>
	</array>
	<key>Options</key>
	<array>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>USER_HEADER_SEARCH_PATHS</key>
			<string>${SPARROW_SRC}/**</string>
			<key>OTHER_LDFLAGS</key>
			<array>
				<string>-ObjC</string>
				<string>-all_load</string>
				<string>-lz</string>
				<string>$(BUILT_PRODUCTS_DIR)/libSparrow.a</string>
			</array>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>OpenAL</string>
				<string>OpenGLES</string>
				<string>QuartzCore</string>
			</array>
			<key>SharedSettings</key>
			<dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
