<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.noiseandheat.ios.xcodetemplates.sparrowbones.game</string>
		<string>com.noiseandheat.ios.xcodetemplates.sparrowFrameworkLinkedSource</string>
		<string>com.noiseandheat.ios.xcodetemplates.sparrowFramework</string>
	</array>
	<key>Identifier</key>
	<string>com.noiseandheat.ios.xcodetemplates.viewBasedGameSparrowSourceLinked</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Description</key>
	<string>A starting point for a Sparrow-Framework game. It provides a view controller to manage the view and is set initially for Landscape. This can be modified in 'SparrowBonesViewController.h'. Sparrow-Framework is linked to using SPARROW_SRC, but requires minor post-creation setup.</string>
	<key>Concrete</key>
	<true/>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>KEYWORDS="TODO:|FIXME:|\?\?\?:|\!\!\!:"
find ${SRCROOT} \( -name "*.h" -or -name "*.m" \) -print0 | \
xargs -0 egrep --with-filename --line-number --only-matching "($KEYWORDS).*\$" | \
perl -p -e "s/($KEYWORDS)/ warning: \$1/"</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
